<div class="training-vid">

  <div class="form-header"><p>HERE IS YOUR TRAINING</p></div>

  <div class="video" data-toggle="modal" data-target="#myModal">
    <a href="#" onclick="return false"><img src="/images/video_place_holder.jpg"/></a>
  </div>

<% if !user_signed_in? %>
  <div class="video" data-toggle="modal" data-target="#myModal">
    <a href="#"><img src="/images/video_place_holder.jpg"/></a>
  </div>
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal">
          
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>