<div class="training-vid">

  <div class="form-header"><p>HERE IS YOUR TRAINING</p></div>

  <div class="video" data-toggle="modal" data-target="#myModal">
    <a href="#" onclick="return false"><img src="/images/video_place_holder.jpg"/></a>
  </div>
</div>