// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Website template by freewebsitetemplates.com */
body {
	background: black;
	color: #356618;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 970px;
	padding: 0;
}



#page {
	background: white;
	margin: 0 auto;
	width: 960px;
	overflow: auto;
}
#header {
	background: url(../images/header.jpg);
	height: 63px;
	width: 960px;
	padding-right:15px;
	position: relative;
}

#logo {
	display: inline-block;
	padding-left: 25px;
	padding-top: 14px;

}

#buttons-list {
	display:inline-block;
	position: absolute;
	right:27px;
	top: 20px;
}


.buttons li{
	color: grey;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}



a {
	color: grey;
}

a:hover {
	color:white;
	text-decoration: none;
}

#body {
	
}


#cycler{position:relative;}
#cycler img{position:absolute;z-index:1}
#cycler img.active{z-index:3}


#image-carousel {
	height: 345px;
	position:relative;
	margin:0 auto;
}


#image-carousel img {
	position:absolute;
	z-index:1;
}

#image-carousel img.active {
	z-index:3;
}




.info {
	height: 345px;
	position:relative;
	margin:0 auto;
	background: url(../images/background1.jpg);
}

.block-image {
	position: absolute;
	padding-top: 20px;
	left: 750px;
	width: 191px;
	height: 314px;
	float: right;
}

@font-face {
  font-family: 'Sackers';
  src: font-url("/assets/fonts/sackers.otf") format("truetype");
}

.paragraph-header {
	width: 500px;
	position: absolute;
	top: 25px;
	left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: grey;
	float: left;
	text-height: 400px;
	font-family: 'Open Sans', sans-serif;
}

.sign-up {
	position: absolute;
	top: 260px;
	left: 43px;
}

.paragraph {
	position:absolute;
	top: 90px;
	left:43px;
	width:700px;
	color: grey;
	font-family: 'Open Sans', sans-serif;
}

p.big {
    line-height: 170%;
}

.footer {
	height: 63px;
	width: 960px;
	background: black;
	margin: auto;
	border: 1px solid grey;
	position: relative;
}

#facebook {
	position: absolute;
	height: 30px;
	width:30px;
	top:15px;
	left:900px;
}

.signup-form {
	position: absolute;
	width: 390px;
	height: 400px;
	top: 95px;
	left: 40px;
	background: #151515;
	border-width: 1px;
	border-radius: 5px;
	border-color: grey;
	border-style: solid;
	padding-left: 20px;
	padding-top: 50px;
}

.new-user {
	height: 1160px;
	position:relative;
	margin:0 auto;
	background: url(../images/background1.jpg);
}

.form-field {
	width: 350px;
	background-color: black;
	transition: box-shadow 0.3s;
	text-decoration: none;
	height: 32px;
	border-width: 1px;
	border-color: grey; 
	margin-bottom: 12px;
}

.form-field:focus {
	text-decoration: none;
}

.form-sub-header {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	padding-bottom:20px;
	margin-bottom: 12px;
	top: 7px;
	color: #8CA29D;
	font-size: 23px;
}

.field {
	color: grey;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.form-header {
	top: 15px;
	left: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	color: grey;
	position: absolute;
}

.sub {
	position: absolute;
	top: 430px;
	width: 308px;
	height: 50px;
	background: url(../images/signup.png);
}



.alert-div {
	position: absolute;
	right: 240px;
	top: 5px;
	font-family: 'Open Sans', sans-serif;
	color: #752672;
}

.notice {
	list-style-type: none;

}

.submit {
	width: 308px;
	height: 50px;
	background: url(../images/signup.png);
}

.tree-image {
	position: absolute;
	top: 700px;
	left: 600px;
}

.price {
	position: absolute;
	top: 60px;
	left: 590px;
	font-size:120px;
	font-family: 'Open Sans', sans-serif;
	color: #8CA29D;
}

.script {
	position: absolute;
	top: 230px;
	left: 510px;
	font-family: 'Open Sans', sans-serif;
	color: #8CA29D;
	text-align: justify;
	font-stretch: expanded;
}

.big-script {
	font-size: 35px;
}

.lil-script {
	position: absolute;
	top: 280px;
	left: 590px;
	font-family: 'Open Sans', sans-serif;
	color: #8CA29D;
}

.training-vid {
	height: 650px;
	position:relative;
	margin:0 auto;
	background: url(../images/background1.jpg);
}

.video {
	position: absolute;
	top: 120px;
	left: 90px;
}

.current-user {
	position: absolute;
	color: white;
	font-family: 'Open Sans', sans-serif;
	right: 30px;
	top: 40px;
}

.password {
	height: 600px;
	position:relative;
	margin:0 auto;
	background: url(../images/background1.jpg);
}

.head-li {
	margin-right:11px;
}